.pref-note {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    overflow: hidden;
}

.pref-close-button {
    float: right;
    width: 20px;
    height: 27px;
    padding-left: 7px;
    border-left: 1px solid #000000;
}

.pref-minimize-button {
    float: right;
    width: 20px;
    height: 27px;
    border-left: 1px solid #000000;
    padding-left: 7px;
}

.pref-caption-cont {
    padding: 3px;
    height: 20px;
    border-bottom: 1px solid #000000;
}

.pref-body-cont {
    padding: 3px;
    height: 180px;   
}